<!DOCTYPE html>
<html>
<head>
    <title>Edit Users</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <h1>Edit Profile</h1>
    <form action='/save' method='POST'>
        {% csrf_token %}
        <label for="email">Email:<input type="text" name="email" id="email" value="{{ user.email }}"></label>
        <label for="fname">Name:<input type="text" name="fname" id="fname" value="{{ user.first_name }}"></label>
        <label for="lname">Name:<input type="text" name="lname" id="lname" value="{{ user.last_name }}"></label>
        <label for="id"><input type="hidden" name="id" id="id" value="{{ user.id }}"></label>
        <label for="level"><input type="hidden" name="level" id="level" value="{{ user.level }}"></label>        
        <input type="submit" value="Save">
    </form>
    <form action='/update' method='POST'>
        {% csrf_token %}
        <label for="password">Password:<input type="text" name="password" id="password"></label>
        <label for="password2">Password Confirmation:<input type="text" name="password2" id="password2"></label>
        <label for="id"><input type="hidden" name="id" id="id" value="{{ user.id }}"></label>
        <input type="submit" value="Update Password">
    </form>
    <form action='/save' method='POST'>
        {% csrf_token %}
        <label for="desc">Edit Description<input type="text" name="desc" id="desc" value="{{ user.desc }}"></label>
        <input type="submit" value="Save">
    </form>
</body>
</html>