<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class='top_ban'>
        <a href="{%url 'dash' %}" class="options">Dashboard</a>
        <a href="{%url 'profile' %}" class="options">Profile</a>
        <a href="{%url 'ulogoff' %}" class="optend">Logoff</a>
    </div>
    <h1>Edit Profile</h1>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                <p class='red'>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <form action='/update' method='POST'>
        {% csrf_token %}
        <h2>Edit Information</h2>
        <label for="email">Email:<input type="text" name="email" id="email" value="{{ user.email }}"></label>
        <label for="fname">First Name:<input type="text" name="fname" id="fname" value="{{ user.first_name }}"></label>
        <label for="lname">Last Name:<input type="text" name="lname" id="lname" value="{{ user.last_name }}"></label>
        <label for="id"><input type="hidden" name="id" id="id" value="{{ user.id }}"></label>
        <label for="level"><input type="hidden" name="level" id="level" value="{{ user.level }}"></label>        
        <input type="submit" value="Save" class='comment_but'>
    </form>
    <form action='/change' method='POST'>
        {% csrf_token %}
        <h2>Change Password</h2>
        <label for="password">Password:<input type="password" name="password" id="password"></label>
        <label for="password2">Password Confirmation:<input type="password" name="password2" id="password2"></label>
        <label for="id"><input type="hidden" name="id" id="id" value="{{ user.id }}"></label>
        <input type="submit" value="Update Password" class='comment_but'>
    </form>
    <form action='/save' method='POST'>
        {% csrf_token %}
        <h2>Profile Description</h2>
        <label for="desc">Edit:<input type="text" name="desc" id="desc" value="{{ user.desc }}"></label>
        <label for="id"><input type="hidden" name="id" id="id" value="{{ user.id }}"></label>
        <input type="submit" value="Save" class='comment_but'>
    </form>
</body>
</html>