<!DOCTYPE html>
<html>
<head>
    <title>Show User</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class='top_ban'>
        <a href="{%url 'dash' %}" class="options">Dashboard</a>
        <a href="{%url 'profile' %}" class="options">Profile</a>
        <a href="{%url 'ulogoff' %}" class="optend">Logoff</a>
    </div>
    <h1>Full Name: {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Registered At: {{ user.created_at }}</p>
    <p>User ID: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.desc }}</p>
    <div id='wallwrap'>
        <!-- Header at the top! -->
        <div id='wallhead'>
            <!-- FLASH message if user tries to leave a blank message or comment. -->
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                    <p class='red'>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id='main'>
            <!-- Add new message texted input. -->
                <form action='/post_msg' method='POST' class='post_msg'>
                    <h2>Leave a message for {{ session.fname }}</h2>
                    <label for="message"><input type="text" name="message" id="message"></label>
                    <input type="submit" value="Post a message" class="but">
                </form>
                    
            <!-- display all message with comments on the Wall.     -->
            {% for post in user_posts %}
                <div>
                    <h3 class="poster">{{ post.first_name }} {{ post.last_name }} wrote
                    - {{ post.created_at }}</h3>
                    <div class="each_post">
                        <p class='each_post'>{{ post.message }}</p>
                    </div>
                </div>

                <!-- Add new comment text input. -->
                <!-- <form action='/post_cmt' method='POST' class='post_cmt'>
                    <label for="comment"><input type="text" name="comment" id="comment"></label>
                    <label for="message_id"><input type="hidden" name="message_id" id="message_id" value="{{ post.y }}" ></label>
                    <input type="submit" value="Post a comment" class="comment_but">
                </form> -->
            {% endfor %}
        </div> 
    </div>
</body>
</html>