<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>

<h1>All Users</h1>
<!-- with all the data we can then construct a more structured output -->
<table>
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>User Level</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="{%url 'ushow' id=user.id %}" class="options">{{ user.id }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.level }}</td>
            <td>
                <a href="{%url 'uedit' id=user.id %}" class="options">Edit</a>
                <a href="{%url 'udestroy' id=user.id %}" class="options">Delete</a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class='tbl_bot'></td>
        <td class='tbl_bot'></td>
        <td class='tbl_bot'></td>
        <td class='tbl_bot'></td>
    </tr>
</table>
  <p><a href="{%url 'unew' %}" class="options">Add a new user</a></p>
</body>
</html>
