<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard - Welcome</title>
  {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome to my User Dashboard</h1>
        <h2>This will be a user dashboard to add, edit, message, and administer users on this platform!</h2>
        <a href='/signin'><button class='but'>Start</button></a>
    </div>
</body>
</html>
