<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard - Registration</title>
  {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <div class='top_ban'>
            <a href="/" class="options">Home</a>
            <a href="{%url 'sign' %}" class="optend">Signin</a>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                    <p class='red'>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{%url 'regval' %}" method='POST' class='login'>
            {% csrf_token %}
            <h2>Register</h2>
            <label for="email" class='label'>Email:<input type="text" name="email" id="email"></label>       
            <label for="fname" class='label'>First Name:<input type="text" name="fname" id="fname"></label>
            <label for="lname" class='label'>Last Name:<input type="text" name="lname" id="lname"></label>
            <label for="password" class='label'>Password:<input type="password" name="password" id="password"></label>
            <label for="password2" class='label'>Password Confirmation:<input type="password" name="password2" id="password2"></label>
            <label for="level"><input type="hidden" name="level" id="level" value="normal"></label>
            <input type="submit" value="Register" class='comment_but'>
        </form>
        <a href="{%url 'sign' %}">Already have an account?  Signin.</a>
    </div>
</body>
</html>
