<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Dashboard - Registration</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id='wrapper'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">User Dashboard:</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'sign' %}">Signin</a>
                </li>
                </ul>
            </div>
        </nav>
        
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                    <p class='red'>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{%url 'regval' %}" method='POST' class='login'>
            {% csrf_token %}
            <h3>Register</h3>
            <label for="email" class='label'>Email:<input type="text" name="email" id="email"></label>       
            <label for="fname" class='label'>First Name:<input type="text" name="fname" id="fname"></label>
            <label for="lname" class='label'>Last Name:<input type="text" name="lname" id="lname"></label>
            <label for="password" class='label'>Password:<input type="password" name="password" id="password"></label>
            <label for="password2" class='label'>Password Confirmation:<input type="password" name="password2" id="password2"></label>
            <label for="level"><input type="hidden" name="level" id="level" value="normal"></label>
            <input type="submit" value="Register" class='comment_but'>
        </form>
        <a href="{%url 'sign' %}">Already have an account?  Signin.</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
