<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard - Sign-in</title>
  {% load static %}
    <link rel='stylesheet' href="{% static 'css/userdash/userdash.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <div class='top_ban'>
            <a href="/" class="options">Home</a>
            <a href="{%url 'sign' %}" class="optend">Signin</a>
        </div>
        User Dashboard
        
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                    <p class='red'>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{%url 'signval' %}" method='POST' class='login'>
            {% csrf_token %}
            <h2>Please Login</h2>
            <label for="email" class='label'>Email:<input type="text" name="email" id="email"></label>
            <label for="password" class='label'>Password:<input type="password" name="password" id="password"></label>
            <input type="submit" value="Login" class='comment_but'>
        </form>
        <a href="{%url 'reg' %}">Don't have an account?  Register.</a>

    </div>
</body>
</html>
